@page "/counter"

@inject IJSRuntime JSRuntime

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-dark" @onclick="PrintPDF">Download PDF</button>
<a class="btn btn-info" href="/download?name=test22.pdf" target="_blank">Download PDF from Razor</a>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task PrintPDF()
    {
        var res = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (res == false) return;

        await JSRuntime.InvokeVoidAsync(
          "downloadFromUrl",
          new { Url = "api/pdf", FileName = "test11.pdf" });
    }
}
